<div class="">
  <% @tags.each do |tag| %>
    <div class="" style="">
      <p><%= tag.text_tag %></p>
      <p><%= tag.text_memo %></p>
      <span class="">
      </span>
    </div>
  <% end %>
</div>