<div class="">
  <% @tags.each do |tag| %>
    <div class="" style="">
      <p><%= tag.text_tag %></p>
      <p><%= tag.text_memo %></p>
      <span class="">
      </span>
    </div>
    <%= link_to '削除', tag_path(tag.id), method: :delete %>
  <% end %>
</div>