/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN W3", sans-serif;
  color: #3b4043;
}

li {
  list-style: none;
}

img {
  max-width: 300px;
  max-height: 400px;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: #3b4043;
}


/* application.html.erb */
.header {
  background-color: beige;
  height: 150px;
}

.header2 {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.title {
  font-size: 45px;
  background-color: white;

}


.user-in-out {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.footer {
  background-color: beige;
  height: 70px;
  display: flex;
  align-items: center;
}

.footer2 {
  font-size: 20px;
  background-color: white;
  height: 30px;
  width: 100%;
}

.back {
  background-color: white;
}



/* 検索欄 */


/* タグ */
.tag {
  background-color: rgb(244, 242, 239);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* プロジェクト一覧 */
.card {
  background-color: rgb(244, 242, 239);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 161px);
}
.card__img {
  margin-bottom: 16px;
  width: calc((100% - 50px) / 3);
}

p,
label {
  font: 1rem 'Fira Sans', sans-serif;
}

input {
  margin: .4rem;
}

.color {
  margin: .4rem;
}