/* application.html.erb */
.header {
  background-color: beige;
  height: 150px;
}

.header2 {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.title {
  font-size: 45px;
  background-color: white;

}


.user-in-out {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.footer {
  background-color: beige;
  height: 70px;
  display: flex;
  align-items: center;
}

.footer2 {
  font-size: 20px;
  background-color: white;
  height: 30px;
  width: 100%;
}

.back {
  background-color: white;
}

/* タグ */
.tag {
  background-color: rgb(244, 242, 239);
}