/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}


/* 主要css */
div {
  margin: 0px 0px 30px;
}

body {
  display: grid;
  grid-template: 
    "header " 1260px
    "main   " 1fr
    "footer " 100px
    / auto; 
}

#landing {
  justify-content: space-between;
}

img {
  max-width: 300px;
  max-height: 400px;
  vertical-align: bottom;
}

#borderless {
  height : 85px;
  margin-top: 45px;
}

a {
  text-decoration: none;
  color: white;
  z-index: 2;
  margin: 20px;
  margin-left: 10px;
}

p,
label {
  font: 1rem 'Fira Sans', sans-serif;
  height: auto;
  text-align: center;
}

input {
  margin: .4rem;
}

/* ヘッダー*/
header {
  grid-area: header;
  background-image: url("7AB4447D-7227-4B79-AC4F-9462D34AD054.JPG");
  background-size: cover;
  position: relative;
  max-width: 100%;
  height: auto;
}



.title {
  font-size: 80px;
  color: white;
  text-shadow: 1px 1px 1px rgb(20, 20, 20);
  display: flex;  
  justify-content: space-between;
}


.sub {
  position:relative;
  margin: 0 auto;
  top: 300px;
  width: 800px;
  height: 50px;
  font-size: 35px;
  color:white;
  font-style: italic;
  text-align: center;
}

.login {
  height: 40px;
  width: 500px;
  font-size: 20px;
  color: white;
  margin: 20px;
  z-index: 2;
}

.login_font {
  font-size:30px;
}

/* メイン*/
main {
  grid-area: main;
}

/*検索欄*/
.search {
  height: 50px;
}

form {
  left: 50%;
}
/* タグ */
.tag_wrapper {
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-end;
}

.tag_name {
  font-size: 25px;
  margin: 0px 0px 30px;
}

.tag1-font {
  font-size: 30px;
}

.tag {  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tag-card {
  border: double 5px black;
  box-shadow: 5px 5px 0 rgb(210, 210, 210);
}

.tag_1 {
  height: 300px;
}


.tag1 {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  margin: 0 0 0 -20px;
  font-size: 22px;
  color:black;
}



.tag:before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
}

.tag-card:hover {
  opacity: 0.3;
  color:rgb(233, 233, 233);
}

/* プロジェクト一覧 */
.project {
  height: 500px;
  width: auto;
}

.project_name {
  font-size: 25px;
  margin: 0px 0px 30px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 250px;
}
.card__img {
  margin-bottom: 16px;
  width: calc((100% - 50px) / 3);
}

.card_body:hover {
  opacity: 0.3;
  color:rgb(233, 233, 233);
}


.color {
  margin: .4rem;
}

.back {
  background-color: white;
}

/* ヘッダー*/
footer {
  grid-area: footer;
  background-color:rgb(234, 234, 234);
}

.footer2 {
  font-size: 20px;
  height: 20px;
  width: 100%;
}

.back {
  background-color: white;
}

ul li {
  font-size: 20px;
  margin: 115px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  border-bottom: solid 3px #e1ff00;
  border-left: solid 3px #e1ff00;
  color: black;
  transition: .4s;
}

ul li:hover {
  padding-left: 0.7em;
  padding-right: 0.3em;
}
